.container { max-width: 100%; }
.sectioncontainer{ margin: 0px 20px; }
.sideMenubar{ width: 12%; background: rgb(77, 77, 219); color: white; border: 1px solid white;}
.headMenubar{ width: 88%; border: 1px solid white;}

hr{ background: white; }

body{ background: rgb(224, 222, 222); }


/* 텍스트 관련 */
.mainText1{ text-align: center; margin: 30px 0px; font-size: 28px; }
[class*=titleText]{ text-align: center; margin: 25px 0px; font-size: 18px; }
[class*=subText]{ font-size: 2px; text-align: center; color: white; }



/* a링크 관련 색상 및 스타일 */
a:visited { color: white; text-decoration: none; }
a:hover{ text-decoration: none; }



/* 드롭다운 버튼 관련 색상 */
.dropdown-menu a{ color: black; }
.dropdown-toggle{ color: white; }

.icon{ height: 100px; }
.navbar{ height: 70px; }

.setCardLine{
    margin: 20px 0px;
}

.card-header{
    font-size: 18px;
    font-weight: bold;
}

.showAgeContentText{
    text-align: center;
}

.showGenderContentText{
    text-align: center;
}

.sideMenubar{
    height: 1200px;
}