/* Global */

:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #263343;
}

* {
  box-sizing: border-box;
}


/* 프로필 */

.profile {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* 썸네일 이미지가 들어갈 공간 */

.profile .thumb {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.24);
}

/* 썸네일 이미지 */

.profile .thumb-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 36px;
}


/* 닉네임 */

.profile .greeting {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 40px;
  margin-bottom: 30px;
}

/* 버튼 전체 형식 */

.btn {
  background-color: var(--accent-color);
  border-radius: 28px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
}

.btn:hover {
  background-color: #263343b4
}

.btn:focus {
  outline: none;
}


/* 프로필 수정 버튼 */

.profile-fix {
  margin-top: 15px;
  font-size: 17px;
  padding: 10px 18px;
}


/* 프로필 수정 팝업 */
.pop-layer .pop-container {
  padding: 40px 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

a.fix-btn {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.fix-btn:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

.nickname {
  width: 200px;
  height: 30px;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

/* 세로선 */
.vl {
  margin-top: 30px;
  border-left: 1px solid lightgray;
  height: 650px;
}

/* 데이터 수정 목록 */

.row {
  width: 90%;
  margin: 10px auto;
}

/* 수정 카드 박스 */

.card {
  width: 500px;
  height: 170px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 300px;
  height: 100px;
}

/* 내 플래너 썸네일 */

.plan-img {
  width: 97px;
  height: 97px;
  margin-left: 25px;
  margin-right: -3px;
  background: url(../images/Busan_mypage_sample.jpeg);
  background-size: 100% 100%;
}

.plan-text {
  background: #000000;
  opacity: 0;
}

.plan-text p {
  padding-top: 75px;
}

.plan-img:hover .plan-text {
  opacity: 0.5;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}